ion-toolbar {
    height: 20px;;
  }

  ion-content.background {
    --background: none;
    background: url('../../assets/fondo.jpeg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover; //300px
    
  }

  h1,h4{
    color: white
  }
  


    
