ion-content {
    --background: url('../../assets/fondo.jpeg')  no-repeat 50% 10%;
  }

  ion-input {
      //background-color: silver;
      color: white;
        border-color: silver;
        margin-bottom: 20px; 
  }

ion-label {
    color: white;

}

.alerta{
  color: #FF0000;
}

p{
  color: #FF0000;
}