<ion-content>
  <div class="ion-padding">
    <img src="../../assets/FF.png">
    <br><br>
    <ion-card *ngFor="let flete of fletes">
        <img src= {{flete.image}} />
        <ion-card-header>
          <ion-card-subtitle>Precio: {{flete.precioAprox}}</ion-card-subtitle>
          <ion-card-title>Nombre: {{flete.nombre}}</ion-card-title>
        </ion-card-header>
        <ion-card-content>
          {{flete.descripcion}}
         </ion-card-content>
        <ion-button color="tertiary" routerLink="/pedido-exitoso">Hacer pedido</ion-button>
      </ion-card>
    <br>
    <ion-button expand="block" [routerLink]="['/maps',valor]"> <ion-icon name="ios-navigate"></ion-icon> Mapa</ion-button> 

    
</div>
</ion-content>