<ion-header>
  <ion-toolbar>

  </ion-toolbar>
</ion-header>

<ion-content padding class="background">
  <ion-img src="https://fotos.subefotos.com/162f3c837e286d11e7f183f75af9d6a3o.png"></ion-img>
  <ion-grid></ion-grid>
  <ion-grid></ion-grid>
  <ion-input type="text"  name="title" [(ngModel)]="valor">  <ion-icon name="person"></ion-icon>Usuraio :</ion-input>
  <ion-grid></ion-grid>
  <ion-input type="password"  name="title"><ion-icon name="md-key"></ion-icon>Contraseña : </ion-input>
  <ion-grid></ion-grid>
  <ion-grid></ion-grid>
  <ion-grid></ion-grid>
      <ion-button expand="block" [routerLink]="['/maps',valor]"> <ion-icon name="checkmark-circle"  routerLinkActive="router-link-active" ></ion-icon> Ingresar</ion-button>
      
      <ion-button expand="block">  <ion-icon name="person-add"> </ion-icon> Registrarse</ion-button>
 
</ion-content>
