ion-content.background {
  --background: none;
  background: url('img/img.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover; //300px
  
}


ion-toolbar {
  height: 20px;;
}

ion-input{
  background-color: white;
  border-radius: 15px;
}

