<ion-content>
  <div class="ion-padding">
    <img src="../../assets/FF.png">
    <br><br>
    <form>
        <ion-input placeholder="NOMBRE COMPLETO: "></ion-input>
        <ion-input placeholder="USUARIO: "></ion-input>
        <ion-input placeholder="TELEFONO: "></ion-input>
        <ion-input placeholder="FECHA DE NACIMIENTO: "></ion-input>
        <ion-input placeholder="CORREO ELECTRONICO: "></ion-input>
        <ion-input placeholder="CONTRASEÑA: " type="password"></ion-input>
        <ion-input placeholder="CONFIRMAR CONTRASEÑA: " type="password"></ion-input>
        <ion-checkbox color="tertiary" checked slot="start"></ion-checkbox>
            <ion-label>Aceptas terminos y condiciones</ion-label>
    </form>
    <br>
    <ion-button color="tertiary" [routerLink]="['/maps',valor]">Registrarse</ion-button>
    <ion-button color="tertiary" [routerLink]="['/home']" >Cancelar</ion-button>
</div>
</ion-content>